

<div class="container">
	<div class="row">
		<div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input #searchQuery [(ngModel)]="search_query" type="text" class="form-control" placeholder="Search for Music" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" (click)="startSearch()"><span class="fa fa-search" ></span></button>
                        <button type="button" class="btn btn-secondary" (click)="showAdvanced = !showAdvanced">Show Advanced</button>

                      </div>
                </div>
            </div>
            <div *ngIf="showAdvanced" >
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="contain">Singer</label>
                  <input [(ngModel)]="advanced_query.artist" name="artist" class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="contain">Writer</label>
                  <input [(ngModel)]="advanced_query.writer" name="writer" class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="contain">Composer</label>
                  <input [(ngModel)]="advanced_query.composer" name="composer" class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="contain">Genre</label>
                  <input [(ngModel)]="advanced_query.genre" name="genre" class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="contain">From film</label>
                  <input [(ngModel)]="advanced_query.movie" name="film" class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="contain">Key</label>
                  <input [(ngModel)]="advanced_query.key" name="key" class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="contain">Beat</label>
                  <input [(ngModel)]="advanced_query.beat" name="beat" class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="contain">Lyrics contains the words</label>
                  <input [(ngModel)]="advanced_query.lyrics" name="lyrics" class="form-control" type="text" />
                </div>
                <div class="form-group">
                  <label for="contain">Title contains the words</label>
                  <input [(ngModel)]="advanced_query.title" name="title" class="form-control" type="text" />
                </div>
              </form>
          </div>
          </div>
        </div>
        
  </div>
  
  <div class="container">
  <div class="row" style="padding: 50px 20px">


 
      <div class="col-md-4">
        Artist:
        <select  class="form-control" [(ngModel)]="filter.artist">
        <option  class="form-control" *ngFor="let bucket of aggregations['Artist Filter']['buckets']" 
            [value]="bucket.key" >
          {{bucket.key}} {{bucket.doc_count}}
        </option>
      </select>
      </div>
      <div class="col-md-4">
      Writer:
      <select  class="form-control" [(ngModel)]="filter.writer">
        <option  class="form-control" *ngFor="let bucket of aggregations['Writer Filter']['buckets']" 
            [value]="bucket.key" >
          {{bucket.key}} {{bucket.doc_count}}
        </option>
      </select>
      </div>
      <div class="col-md-4">
      Composer:
      <select  class="form-control" [(ngModel)]="filter.composer">
        <option  class="form-control" *ngFor="let bucket of aggregations['Composer Filter']['buckets']" 
            [value]="bucket.key" >
          {{bucket.key}} {{bucket.doc_count}}
        </option>
      </select>
      </div>
      <div class="col-md-4">
      Genre:
      <select  class="form-control" [(ngModel)]="filter.genre">
        <option  class="form-control" *ngFor="let bucket of aggregations['Genre Filter']['buckets']" 
            [value]="bucket.key" >
          {{bucket.key}} {{bucket.doc_count}}
        </option>
      </select>
      </div>
      <div class="col-md-4">
      Movie:
      <select  class="form-control" [(ngModel)]="filter.movie">
        <option  class="form-control" *ngFor="let bucket of aggregations['Movie Filter']['buckets']" 
            [value]="bucket.key" >
          {{bucket.key}} {{bucket.doc_count}}
        </option>
      </select>
      </div>
      <div class="col-md-4">
      Views:
      <select  class="form-control" [(ngModel)]="filter.views">
        <option  class="form-control" *ngFor="let bucket of aggregations['View Filter']['buckets']" 
            [value]="bucket.key" >
          {{bucket.key}} {{bucket.doc_count}}
        </option>
      </select>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
          <button type="button" class="btn btn-secondary" (click)="reset_filter()">Reset</button>
      <button type="button" class="btn btn-secondary" (click)="filter_query()">Filter</button>
       </div>
  </div>

   <div class="row" style="padding: 50px 20px">
    <div class="col-md-12">
      Search results yielded {{number_of_results}} possible songs
    </div>

    <div style="padding: 50px 20px" class="col-md-12" *ngIf="number_of_results==0 && search_query === ''  && !error && !loading ">
      Start typing your favourite lyrics
    </div>

    <div style="padding: 50px 20px" class="col-md-12" *ngIf="number_of_results==0 && search_query !== '' && !error && !loading">
      No hits found try something else
    </div>

    <div style="padding: 50px 20px" class="col-md-12" *ngIf="loading">
      <div class="fa-3x">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>

    <div style="padding: 50px 20px" class="col-md-12" *ngIf="error">
      <div class="fa-3x">
        No Search Query
      </div>
    </div>

    <div style="padding: 50px 20px" class="col-md-12" >
      <ul>
      <li *ngFor="let hit of shown_results" style="margin: 0 0 50px 0" >
        <div >
          <h4>
            {{hit._source.title}} 
          </h4>
           <p [innerHTML]="hit._source.songLyrics">
           </p>
           <div>
             sung by : {{hit._source.artist}}
             written by : {{hit._source.writer}}
             composed by : {{hit._source.composer}}
           </div>
           <div>
             viewed {{hit._source.views}} times
             shared {{hit._source.shares}} times
           </div>
           <div>
             Genres : {{hit._source.genre}} 
           </div>
        </div>
        
      </li>
    </ul>
    </div>

  </div>
</div>
